<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (typeof movie != "undefined" ? movie : "") %> </title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/movie.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Movie Recommender</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor02"> 
          </div>
        </div>
    </nav>




    <div class="container">
        
        <div id="movie" class="well">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= (typeof image != "undefined" ? image : "") %> " alt="">
                </div>
                <div class="col-md-8">
                <h2><%= (typeof movie != "undefined" ? movie : "") %></h2>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Genre:</strong>
                        <% for(let genre of (typeof genres != "undefined" ? genres : "")){ %>
                            <span> <%= genre %>,</span> 
                        <% } %></li>
                    <li class="list-group-item"><strong>Runtime:</strong> <%=(typeof runtime != "undefined" ? runtime : "")%> Mins</li>
                    <li class="list-group-item"><strong>Director:</strong> <%= (typeof director != "undefined" ? director : "") %></li>
                    <li class="list-group-item"><strong>Actors:</strong>
                        <% for(let actor of (typeof cast != "undefined" ? cast : "")){ %>
                            <span> <%= actor %>,</span> 
                        <% } %></li>
            
                </ul>
                </div>
            </div>
            <div class="row">
                <div class="well">
                <h3>Plot</h3>
                <%= (typeof overview != "undefined" ? overview : "") %> 
                <hr>
                <a href="/" class="btn btn-default">Go Back To Search</a>
                </div>
            </div>


        </div>

        
    </div>


    <div class="container">
        <h2>Similar Movies:</h2>

        <ul class="timeline">
            <% for(let sim of (typeof similar != "undefined" ? similar : "")){ %> 
                <li><span class="badge badge-primary badge-pill font-weight-normal"></span> <a href="<%= "/"+sim %>" > <%= sim %> </a> </span></li>
            <% } %>  
        </ul>
    </div>
</body>
</html>